{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">О нашем магазине</h1>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Наша история</h3>
                    <p>Наш цветочный магазин был основан в 2015 году с целью создания уникальных цветочных композиций, которые приносят радость и поднимают настроение. Мы начинали как небольшая семейная компания, а сегодня выросли в один из ведущих цветочных магазинов города.</p>
                    <p>За годы работы мы накопили огромный опыт и знания в области флористики, что позволяет нам создавать потрясающие букеты на любой вкус и бюджет.</p>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Наши принципы</h3>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-leaf text-primary fa-2x me-3"></i>
                                </div>
                                <div>
                                    <h5>Свежесть</h5>
                                    <p>Мы работаем только со свежими цветами, которые проходят тщательный отбор.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-heart text-primary fa-2x me-3"></i>
                                </div>
                                <div>
                                    <h5>Любовь к делу</h5>
                                    <p>Каждый букет создается с любовью и вниманием к деталям.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-truck text-primary fa-2x me-3"></i>
                                </div>
                                <div>
                                    <h5>Быстрая доставка</h5>
                                    <p>Мы доставляем цветы в течение 2 часов по всему городу.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-medal text-primary fa-2x me-3"></i>
                                </div>
                                <div>
                                    <h5>Гарантия качества</h5>
                                    <p>Мы гарантируем качество каждого букета и композиции.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="mb-3">Наша команда</h3>
                    <p>В нашей команде работают опытные флористы с многолетним стажем работы. Мы постоянно совершенствуем свои навыки, посещаем мастер-классы и следим за новыми тенденциями в мире флористики.</p>
                    <p>Благодаря слаженной работе команды, мы можем предложить вам лучшие цветочные композиции для любого случая.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">Наши услуги</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Букеты и композиции на заказ</li>
                        <li class="list-group-item">Свадебная флористика</li>
                        <li class="list-group-item">Оформление мероприятий</li>
                        <li class="list-group-item">Доставка цветов по городу</li>
                        <li class="list-group-item">Подарочные наборы</li>
                        <li class="list-group-item">Консультации по уходу за цветами</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}